body {
  background-color: #F7F7F7;
  color: #333333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36apx;
  color: #2A292B;
}

h2 {
  font-size: 24px;
  color: #2A292B;
}

h3 {
  font-size: 18px;
  color: #2A292B;
}

main {
  padding: 20px;
}

.container {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

section h2 {
  font-size: 28px;
  color: #2A292B;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #333333;
  text-decoration: none;
}

button {
  background-color: #2A292B;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #F7F7F7;
  padding: 10px;
  font-size: 14px;
}

.save-contact-button {
  display: inline-block;
  padding: 10px;
  background-color: #337ab7;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.save-contact-button:hover {
  background-color: #23527c;
}

.save-contact-text {
  margin-right: 5px;
}

.save-contact-icon {
  vertical-align: middle;
}


.social-icons {
  text-align: center;
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

