@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #252525;
  margin: 0;
  padding: 0;
  color: #fff;
}

.profile-container {
  text-align: center;
  padding-top: 50px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name-job-container {
  text-align: center;
  margin-top: 20px;
}

.name {
  font-size: 36px;
  color: #f4f4f4;
  margin-bottom: 10px;
}

.job-title {
  font-size: 24px;
  color: #f4f4f4;
  margin-bottom: 20px;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-link {
  color: #007bff;
  text-decoration: none;
  font-size: 36px;
  margin: 0 10px;
}

.social-link:hover {
  color: #0056b3;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

.contact-item {
  margin-bottom: 40px;
}

.contact-detail {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.contact-heading {
  font-size: 24px;
  color: #000;
  margin-bottom: 5px;
}

.contact-info {
  font-size: 21px;
  color: #000;
  margin-bottom: 10px;
}

.contact-info a {
  color: #000;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-me-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-me-heading {
  font-size: 24px;
  color: #000;
  margin: 0;
  margin-right: 10px;
}

.show-contact-button {
  font-size: 48px;
  color: #000;
  text-decoration: none;
}

.show-contact-button:hover {
  color: #ccc;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
  background-color: #252525;
  color: #fff;
}

footer p {
  margin: 0;
}
